#root {
  width: 100%;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (max-width: 768px) {
    gap: 5px;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: $black;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &-number {
      font-weight: 600;
      font-size: 48px;
      color: $black;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    &-text {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      color: $black;

      @media screen and (max-width: 1024px) {
        font-size: 36px;
      }

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    &-dot {
      display: block;
      width: 30px;
      height: 30px;
      background-color: $black;
      border-radius: 50%;

      @media screen and (max-width: 768px) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.mailing {
  &__form {
    display: flex;
    align-items: end;
    gap: 50px;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-weight: 500;
      font-size: 24px;
      color: $black;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: #575757;
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      font-weight: 500;
      font-size: 20px;
      color: #717171;
      padding: 5px 0;

      &::placeholder {
        color: #717171;
      }
    }
  }

  button {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $blue;
    min-width: 83px;
    min-height: 83px;
    color: $white;
  }
}
